@model GymMs.DAL.GymMs.DAL.Entities.GymClass

<h2>Class Details</h2>

<div>
    <h4>@Model.Title</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Capacity</dt>
        <dd class="col-sm-10">@Model.Capacity</dd>

        <dt class="col-sm-2">Trainer</dt>
        <dd class="col-sm-10">@Model.Trainer?.FullName</dd>
    </dl>
</div>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
<a asp-action="Index" class="btn btn-secondary">Back to List</a>
